.container {
    display: grid;
    grid-template-columns: 66vw 20vw;
    grid-gap: 2%;
    .hero-card {
        background-color: $white;
        display: flex;
        padding: 3% 3% 0 3%;
        width: 66vw;
        height: 125vh;
        border-radius: 20px;
        .active-section {
            width: 15vw;
            &-title {
                color: $headingMuted;
                font-size: 0.8vw;
                padding-bottom: 4%;
            }
            .filter {
                display: flex;
                .game-dropdown {  
                    .filter-title {
                        color: $textMuted;
                        font-size: 0.8vw;
                    }
                    .filter-dropdown-menu {
                        display: none;
                        width: 7vw;
                        .filter-dropdown-item {
                            padding:3% 0;
                            .filter-dropdown-links {
                                color: $textMuted;
                                font-size: 0.8vw;
                            }
                        }
                    }
                }
                .views-dropdown {  
                    padding-left: 9%;
                    .filter-title {
                        color: $textMuted;
                        font-size: 0.8vw;
                    }
                    .filter-dropdown-menu {
                        display: none;
                        width: 7vw;
                        .filter-dropdown-item {
                            padding:3% 0;
                            .filter-dropdown-links {
                                color: $textMuted;
                                font-size: 0.8vw;
                            }
                        }
                    }
                }
            }
            .game-live {
                .game-profile {
                    display: flex;
                    align-items: center;
                    padding: 4% 0;
                    width: 20vw;
                    .game-profile-img {
                        width: 5vw;
                        border-radius: 20px;
                        margin-right: 4%;
                    }
                    .game-title {
                        .game-name {
                            font-size: 0.9vw;
                        }
                        .view-status {
                            font-size: 0.8vw;
                            color: $textMuted;
                        }
                    }
                }
                .more-down {
                    color: $textMuted;
                    display: block;
                    width: 90px;
                    margin: 8% auto auto auto;
                    font-size: 0.8vw;
                }
            }
        }
    }
}