.main {
    .menu-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        padding: 1.5% 0;
        &-title {
            font-size: 2vw;
            font-weight: bolder;
        }
        &-form {
            .menu-bar-input {
                padding: 10px 0 10px 30%;
                width: 20vw;
                height: 5vh;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.26);
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.274);
                font-style: italic;
                font-size: 0.9vw;
            }
        }
        &-icon {
            .menu-bar-link{
                i {
                    padding-right: 0.8vw;
                    font-size: 1.5vw;
                    color: #212529;
                }
            }
        }
    }
}