.multi-section {
    .video-section {
        width: 45vw;
        &-img {
            width: 45vw;
            border-radius: 15px;
        }
        .video-duration {
            position: relative;
            top: -24vw;
            left: 38vw;
            font-size: 1vw;
        }
    }
    .players-list {
        display: flex;
        align-items: center;
        &-title {
            font-size: 1vw;
            color: $headingMuted;
            padding-right: 3%;
        }
        .list-profile {
            &-img {
                width: 3vw;
                height: 6vh;
                margin: 0 0.5vw;
                border-radius: 50%;
            }
        }
        &-link {
            color: black;
            font-size: 0.8vw;
            padding-left: 3%;
        }
    }
    .popular {
        display: flex;
        margin-top: 4%;
        width: 25vw;
        .most-popular {
            &-img{
                width: 25vw;
                border-radius: 20px;
                margin-right: 1vw;
            }
            &-content {
                margin-top: -40%;
                padding: 0 4%;
                .most-popular-budge {
                    background-color: white;
                    font-size: 0.9vw;
                    padding: 1% 4%;
                    border-radius: 5px;
                    position: relative;
                    top: -12vw;
                    left: 16vw;
                }
                .most-popular-title {
                    color: white;
                    font-size: 1.4vw;
                    padding: 3% 0;
                }
                .most-popular-sub-title {
                    color: white;
                    font-size: 0.8vw;
                    time {
                        padding-left: 3%;
                    }
                }
                .most-popular-text {
                    color: white;
                    font-size: 1vw;
                    padding: 1% 0;
                }
            }
        }
    }
    .popular-feed {
        .recommmend {
            height: 26vh;
            &-img {
                width: 20vw;
                height: 22vh;
                filter: brightness(50%);
                border-radius: 20px;
                z-index: -1;
            }
            .recommend-content {
                position: relative;
                top: -4vw;
                left: 1vw;
                color: $white;
                font-weight: bolder;
                z-index: 5;
                .recommend-title {
                    font-size: 1vw;
                }
                .recommend-sub-title {
                    font-size: 0.9vw;
                    font-weight: lighter;
                }
            }
        }
    }
}