
.news-section {
    .profile-card {
        background-color: white;
        width: 20vw;
        height: 64vh;
        margin: 0 8%;
        text-align: center;
        border-radius: 20px;
        &-img {
            width: 20vw;
            border-radius: 20px 20px 0 0;
        }
        &-body {
            padding-bottom: 8%;
            .profile-card-title {
                padding-top: 8%;
                font-size: 1.2vw;
            }
            .profile-card-text {
                font-size: 0.8vw;
                color: $textMuted;
                width: 14vw;
                margin: 4% auto;
            }
            .profile-achivement {
                display: flex;
                width: 9vw;
                margin: auto;
                .played-games {
                    &-title {
                        font-size: 1.2vw;
                    }
                    .played-game-sub-title {
                        font-size: 0.6vw;
                        font-weight: bolder;
                        color: $textMuted;
                    }
                }
                .ratings {
                    margin-left: 10%;
                    &-title {
                        font-size: 1.2vw;
                    }
                    .ratings-sub-title {
                        font-size: 0.6vw;
                        font-weight: bolder;
                        color: $textMuted;
                    }
                }
            }
        }
    }

    .pop-up-news {
        background-color: white;
        width: 20vw;
        margin: 5% 8%;
        border-radius: 20px;
        .pop-up-title {
            padding: 7% 4%;
            color: $headingMuted;
            font-size: 0.8vw;
        }
        .pop-up-img {
            width: 20vw;
        }
        .pop-up-text {
            font-size: 0.8vw;
            padding: 5%;
            color: $textMuted;
        }
    }
}